<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started: Serving Web Content</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css} "/>
</head>

<body>
<main class="container">
    <header class="header">
        <h1>Podstawy Baz Danych</h1>
        <p>System wspomagania działalności firmy świadczącej usługi gastronomiczne dla klientów indywidualnych oraz firm</p>
    </header>
    <section class="section">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="true">Zamówienie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="false">Produkty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="menu-tab" data-toggle="tab" href="#menu" role="tab" aria-controls="menu" aria-selected="false">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="discount-tab" data-toggle="tab" href="#discount" role="tab" aria-controls="discount" aria-selected="false">Rabaty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reservation-tab" data-toggle="tab" href="#reservation" role="tab" aria-controls="reservation" aria-selected="false">Rezerwacje</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order-tab">
                <div class="tab-pane-section">
                    <p>Sprawdź przykład</p>
                    <form th:action="@{/example}">
                        <button type="submit" class="btn btn-primary">>></button>
                    </form>
                </div>
                <div class="tab-pane-section">
                    <p>Złóż zamówienie 2</p>
                    <button type="button" class="btn btn-danger">>></button>
                </div>
                <div class="tab-pane-section">
                    <p>Złóż zamówienie 3</p>
                    <button type="button" class="btn btn-success">>></button>
                </div>
                <div class="tab-pane-section">
                    <p>Złóż zamówienie 4</p>
                    <button type="button" class="btn btn-warning">>></button>
                </div>
            </div>
            <div class="tab-pane fade" id="product" role="tabpanel" aria-labelledby="product-tab">
                <div class="tab-pane-section">
                    <p>Dodaj produkt</p>
                    <form th:action="@{/product/add}">
                        <button type="submit" class="btn btn-primary">>></button>
                    </form>
                </div>
                <div class="tab-pane-section">
                    <p>Usuń produkt</p>
                    <form th:action="@{/product/remove}">
                        <button type="submit" class="btn btn-danger">>></button>
                    </form>
                </div>
                <div class="tab-pane-section">
                    <p>Wyświetl produkty</p>
                    <form th:action="@{/product}">
                        <button type="submit" class="btn btn-success">>></button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="menu" role="tabpanel" aria-labelledby="menu-tab">
                <div class="tab-pane-section">
                    <p>Wyświetl menu</p>
                    <form th:action="@{/menu}">
                        <button type="submit" class="btn btn-primary">>></button>
                    </form>
                </div>
                <div class="tab-pane-section">
                    <p>Wygeneruj nowe menu</p>
                    <form th:action="@{/menu/generate}">
                        <button type="submit" class="btn btn-success">>></button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="discount" role="tabpanel" aria-labelledby="discount-tab">
                <div class="tab-pane-section">
                    <p>Wyświetl zniżki</p>
                    <form th:action="@{/discount}">
                        <button type="submit" class="btn btn-success">>></button>
                    </form>
                </div>
                <div class="tab-pane-section">
                    <p>Dodaj zniżkę po realizacji ustalonej liczby zamówień</p>
                    <form th:action="@{/discount/orders/add}">
                        <button type="submit" class="btn btn-primary">>></button>
                    </form>
                </div>
                <div class="tab-pane-section">
                    <p>Dodaj zniżkę po realizacji zamówień za łączną kwotę</p>
                    <form th:action="@{/discount/amount/add}">
                        <button type="submit" class="btn btn-danger">>></button>
                    </form>
                </div>
                <div class="tab-pane-section">
                    <p>Usuń zniżkę</p>
                    <form th:action="@{/discount/remove}">
                        <button type="submit" class="btn btn-warning">>></button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="reservation" role="tabpanel" aria-labelledby="reservation-tab">
                <div class="tab-pane-section">
                    <p>Wyświetl rezerwacje</p>
                    <form th:action="@{/reservation}">
                        <button type="submit" class="btn btn-primary">>></button>
                    </form>
                </div>
                <div class="tab-pane-section">
                    <p>Dodaj rezerwacje<p>
                    <form th:action="@{/reservation/add}">
                        <button type="submit" class="btn btn-primary">>></button>
                    </form>
                </div>
                <div class="tab-pane-section">
                    <p>Usuń rezerwacje<p>
                    <form th:action="@{/reservation/remove}">
                        <button type="submit" class="btn btn-warning">>></button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>